@model Cookbook.Models.User
@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<ul>
    <li>Id: @Model.Id</li>
    <li>Id: @Model.Login</li>
    <li>Id: @Model.PasswordKey</li>
    <li>Id: @Model.PasswordSalt</li>
</ul>