@using Cookbook.Models
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="/Styles/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/Styles/cb-custom.css"/>
    <script type="text/javascript" src="/Scripts/jquery-1.11.3.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top cb-navbar">
    <div class="container">
        
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            @{
                var user = (User) Session["LoggedUser"];
                
                var headerText = @"@" + user.Login;

                var isUserAdmin = user.Role == UserRole.Admin ? true : false;
            }
            <h1 class="cp-side-menu-h1">@headerText</h1>
            <ul class="cp-side-menu">
                <a href="/Home/"><li>Strona główna</li></a>
                <a href="/Products/"><li>Produkty</li></a>
                @if (isUserAdmin)
                {
                    <a href="/Management/"><li>Panel admina</li></a>
                }
                <a href="/Login/Logout"><li>Wyloguj się</li></a>
            </ul>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

<footer class="cp-footer">
    <div class="container">
        @*@{
            if (user != null && user.Role == UserRole.Admin)
            {
                <a href="/Management/">Panel admina</a>
            }
        }*@
        <p class="text-muted">Footer content here</p>
    </div>
</footer>

<script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
