@{
    Layout = "~/Views/Shared/_SideMenuLayout.cshtml";
}

<h2 class="cb-h2">Manage:</h2>
<div class="row cb-row">
    <div class="col-md-4">
        <a href="/Management/Products" class="cb-a">
            <div id="cb-products-btn-img" class="cb-btn-img">
                <div>Products</div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <div id="cb-meals-btn-img" class="cb-btn-img">
            <div>Meals</div>
        </div>
    </div>
    <div class="col-md-4">
        <a href="/Management/Users" class="cb-a">
            <div class="cb-btn-img">
                <div>Users</div>
            </div>
        </a>
    </div>
</div>